<main id="main" class="main">
    <div class="pagetitle">
       <h1>Dashboard</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
             <li class="breadcrumb-item active">Dashboard</li>
          </ol>
       </nav>
    </div>
    <section class="section dashboard">
       <div class="row">
          <div class="col-lg-8">
            <p>If you already have an account, you can log in from the login button on the right above.</p>
            <p>If you do not have an account, you can create a new account from the register button.</p>
             <p>Note: Email verification is not available. You can log in directly after registration.</p>
          </div>   
       </div>
    </section>
 </main>